[submodule "dropbox"]
	path = dropbox
	url = https://aur.archlinux.org/dropbox
[submodule "xss-lock-git"]
	path = xss-lock-git
	url = https://aur.archlinux.org/xss-lock-git.git
[submodule "pepper-flash"]
	path = pepper-flash
	url = https://aur.archlinux.org/pepper-flash.git
[submodule "slack-desktop"]
	path = slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "toggl-cli"]
	path = toggl-cli
	url = https://aur.archlinux.org/toggl-cli.git
[submodule "messengerfordesktop-bin"]
	path = messengerfordesktop-bin
	url = https://aur.archlinux.org/messengerfordesktop-bin.git
[submodule "bcwc-pcie-dkms"]
	path = bcwc-pcie-dkms
	url = https://aur.archlinux.org/bcwc-pcie-dkms
[submodule "bcwc-pcie-firmware"]
	path = bcwc-pcie-firmware
	url = https://aur.archlinux.org/bcwc-pcie-firmware
